.todo__input {
  display: flex;
  align-items: center;
}

.todo__inputIcon {
  margin-right: 0.5em;
}

.todo__inputField {
  flex: 1;
  padding: 0.125em 0.125em 0.125em 0;
  color: #181818;
  background: 0;
  border: 0;
  outline: none;
  transition: border 0.15s ease-out;
}

.todo__inputField:hover,
.todo__inputField:focus,
.todo__inputField:active {
}
